@import ../sass/partials/mixins
@import ../sass/partials/colors
@import ../sass/partials/type
@import ../sass/partials/reset
@import ../sass/partials/layout
@import ../sass/partials/switcher
@import ../sass/partials/revealer

#brandPage
    @include roboto
    text-align: center
    color: $grey6
    // padding-top: 48px

    .bp
        &Container
            @include flexVert
            gap: 48px

        &Banner
            position: relative
            padding-top: 72px

            &__container
                @include flexOr

            &__logo
                position: absolute
                top: 0
                left: 50%
                transform: translateX(-50%)

        &Perex
            h2
                color: $green

            p
                color: $grey6
        
        &Cards
            @include flexVert
            gap: 32px

            &__unit
                @include flexOr
                justify-content: space-between
                gap: 32px

                &:nth-child(1) .bpCards__caption
                    background-color: $green

                &:nth-child(2) .bpCards__caption
                    background-color: $usafa
                    
            &__caption
                color:  $white
                width: calc((100% - 32px) / 2)
                @include flexVert
                justify-content: center
                align-items: center
                gap: 48px
                border-radius: 4px

                p
                    padding: 0 72px
                    color: $white

                h3
                    color: $white

            &__image
                width: calc((100% - 32px) / 2)
                border-radius: 4px

        &Icons
            @include flexOr
            justify-content: space-between
            align-items: center
            gap: 48px

            &__icon
                width: 64px
                height: 64px
                flex-shrink: 0

            &__icons
                @include flexVert
                gap: 32px

            &__unit
                @include flexOr
                align-items: center
                gap: 48px

                &__caption
                    text-align: left

                    h4
                        color: $green

            &__image
                margin: 16px

        &Video
            @include flexVert
            gap: 32px

            &__unit
                @include flexOr
                gap: 32px

                &:nth-child(1) .bpVideo__caption
                    background-color: $green

                &:nth-child(2) .bpVideo__caption
                    background-color: $usafa

            &__caption
                color:  $white
                flex-basis: 35%
                @include flexVert
                justify-content: center
                align-items: center
                border-radius: 4px
                padding: 48px

                h3.bpVideo__title
                    color: $white
                
                span
                    display: block

            &__container
                flex-basis: 65%

                div
                    position: relative
                    padding-bottom: 56.25%

                    iframe
                        border-radius: 4px
                        position: absolute
                        top: 0
                        left: 0
                        right: 0
                        bottom: 0
                        display: blckock
                        width: 100%
                        height: 100%

        &Faq
            h3
                color: $green

            &__units
                @include flexVert
                gap: 16px

            &__box 
                background-color: $green
                border-radius: 4px
                padding: 16px
                cursor: pointer
                transition: background-color 500ms

                &:hover
                    background-color: darken($green, 6%)

                &__handle 
                    @include flexOr
                    justify-content: space-between
                    gap: 16px

                    h4
                        text-align: left
                        color: $white
                        font-weight: 400              

                &__content 
                    max-height: 0
                    overflow: hidden
                    will-change: max-height
                    transition: opacity 500ms, max-height 500ms, padding 500ms
                    opacity: 0

                    p
                        margin-top: 0
                        text-align: left
                        color: $white

                
                &--active 
                    .bpFaq__box__content 
                        padding: 16px 0 24px 0
                        opacity: 1

                    .bpFaq__box__icon
                        transform: rotate(45deg)

                &__icon
                    width: 20px
                    min-width: 20px
                    height: 20px
                    transform: rotate(0deg)
                    transition: transform 500ms

        &Footer
            @include flexVert
            gap: 48px

            &__icons
                @include flexOr
                gap: 48px

            &__unit
                flex: 1 1 0
                @include flexVert
                align-items: center
                gap: 24px

            h3, h4
                color: $green

        &Button
            background-color: $white
            color: $grey6
            @include btnAppearance
            @include btnStates($white)

// layout 0
.layout-0 #brandPage
    .bp
        &-container
            gap: 48px

        &Banner
            img
                max-width: 50%
        
        &Perex p
            margin-top: 24px

            span
                display: block

        &Cards
            &__caption
                gap: 24px
            p
                padding: 0 32px

        &Icons
            padding-left: 0
            
            img
                margin: 0
                max-width: 39.25%

        &Video iframe
            height: 256px

@media only screen and (max-width: 809px)
    .mobile #brandPage,
    .mobileapp #brandPage
        .bp
            &-container
                gap: 48px

            &Banner
                img
                    max-width: 50%
            
            &Perex p
                margin-top: 24px

            &Cards
                &__caption
                    gap: 24px

                p
                    padding: 0 32px

            &Icons
                padding-left: 0
                
                img
                    margin: 0
                    max-width: 39.25%

            &Video
                &__caption
                    padding: 16px

                h3
                    @include type(16, 1.25, 700)

@media only screen and (max-width: 630px)
    .mobile #brandPage,
    .mobileapp #brandPage
        .bp
            &Cards
                &__unit
                    flex-direction: column

                    &:nth-of-type(2) img
                        order: 1   

                &__caption
                    position: relative
                    width: 100%
                    height: 0
                    padding-bottom: 100%

                    h3
                        margin-top: 100%

                &__image
                    width: 100%

            &Icons
                flex-direction: column

                img
                    max-width: 100%

            &Video
                gap: 16px

                &__unit
                    gap: 16px
                    flex-direction: column

                    &:nth-child(2) .bpVideo__caption
                        order: -1

            &Footer
                gap: 32px

                &__icons
                    flex-direction: column
                    gap: 32px

                &__unit
                    gap: 16px

@media only screen and (max-width: 550px)
    .mobile #brandPage,
    .mobileapp #brandPage
        .bp
            &Banner
                padding-top: unset

                &__container
                    flex-direction: column

                img
                    max-width: 100%

                    &:first-of-type
                        order: 1

                &__logo
                    top: 50%
                    transform: translate(-50%, -50%)
                    width: 30%
                    min-width: 92px

@media only screen and (max-width: 400px)
    .mobile #brandPage,
    .mobileapp #brandPage
        .bp
            &Icons
                &__icons
                    margin-left: 0
                    margin-top: 32px

                &__unit
                    flex-direction: column
                    gap: 16px

                    &__caption
                        text-align: center

                        p, h4
                            text-align: center
            