#brandPage h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}
#brandPage h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
#brandPage h4 {
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 700;
}
#brandPage p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
#brandPage p.text--small {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.layout-0 #brandPage h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.layout-0 #brandPage h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.layout-0 #brandPage h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.layout-0 #brandPage p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.layout-0 #brandPage p.text--small {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

@media only screen and (max-width: 809px) {
  .mobile #brandPage h2,
  .mobileapp #brandPage h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }
  .mobile #brandPage h3,
  .mobileapp #brandPage h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }
  .mobile #brandPage h4,
  .mobileapp #brandPage h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }
  .mobile #brandPage p,
  .mobileapp #brandPage p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
  .mobile #brandPage p.text--small,
  .mobileapp #brandPage p.text--small {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 400px) {
  .mobile #brandPage h2,
  .mobileapp #brandPage h2 {
    font-size: 22px;
    line-height: 27.5px;
    font-weight: 700;
  }
  .mobile #brandPage h3,
  .mobileapp #brandPage h3 {
    font-size: 18px;
    line-height: 22.5px;
    font-weight: 700;
  }
  .mobile #brandPage h4,
  .mobileapp #brandPage h4 {
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 700;
  }
  .mobile #brandPage p,
  .mobileapp #brandPage p {
    font-size: 13px;
    line-height: 19.5px;
    font-weight: 400;
  }
}
.category-description {
  padding: 0 !important;
}

#brandPage {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
}
#brandPage *, #brandPage *::before, #brandPage *::after {
  box-sizing: border-box;
}
#brandPage h1, #brandPage h2, #brandPage h3, #brandPage h4, #brandPage p, #brandPage ul, #brandPage ol, #brandPage li, #brandPage figure {
  margin: 0;
  padding: 0;
}
#brandPage p {
  display: block;
}
#brandPage ul {
  list-style-type: none;
}
#brandPage ul li:before {
  display: none;
}
#brandPage input, #brandPage button, #brandPage textarea, #brandPage select {
  font: inherit;
}
#brandPage .hidden {
  display: none !important;
}
#brandPage a {
  transition: all 300ms ease-in-out;
}
#brandPage img {
  display: block;
  height: auto;
  max-width: 100%;
  aspect-ratio: attr(width), attr(height);
}

#articlePage.blank p {
  margin-top: 0;
}

#brandPage .mt24 {
  margin-top: 24px;
}
#brandPage .mCnr {
  margin-left: auto;
  margin-right: auto;
}
#brandPage .mOr {
  margin-left: 32px;
  margin-right: 32px;
}
#brandPage .mOr-reduced {
  margin-left: 15%;
  margin-right: 15%;
}

@media only screen and (max-width: 500px) {
  .mobile #brandPage .mOr-reduced,
  .mobileapp #brandPage .mOr-reduced {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media only screen and (max-width: 400px) {
  .mobile #brandPage .mOr, .mobile #brandPage .mOr-reduced,
  .mobileapp #brandPage .mOr,
  .mobileapp #brandPage .mOr-reduced {
    margin-left: 20px;
    margin-right: 20px;
  }
}
#layout_switch {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;
  width: 180px;
  height: 70px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.3);
  border-radius: 5px;
}
#layout_switch button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  width: 45px;
  height: 45px;
  margin: 5px;
  cursor: pointer;
  border: none;
}
#layout_switch button .icon {
  width: 30px;
  height: 30px;
  fill: #737373;
}
#layout_switch button.active {
  box-shadow: inset 0px 2px 4px 0px rgba(128, 128, 128, 0.7);
}

#brandPage {
  max-width: 1085px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: #FFFFFF;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#testLayout.layout-1 #brandPage {
  width: 1084px;
}

#testLayout.layout-0 #brandPage {
  width: 809px;
}

.mobile #brandPage,
.flex-container {
  max-width: 100%;
}

#brandPage .bpToggle {
  background-color: #f4f5f5;
  color: #212121;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  width: 160px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: block;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  #brandPage .bpToggle {
    font-size: 12px;
  }
}
#brandPage .bpToggle:hover {
  background-color: #eceeee;
}
#brandPage .bpToggle:active {
  background-color: #d4d8d8;
  box-shadow: none;
}
#brandPage .bpToggle__container {
  padding-bottom: 48px;
  margin: auto;
}
#brandPage .bpToggle__content {
  display: none;
}
#brandPage .bpToggle__content.is-visible {
  display: block;
}

#brandPage {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #212121;
}
#brandPage .bpContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
#brandPage .bpBanner {
  position: relative;
  padding-top: 72px;
}
#brandPage .bpBanner__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#brandPage .bpBanner__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#brandPage .bpPerex h2 {
  color: #008522;
}
#brandPage .bpPerex p {
  color: #212121;
}
#brandPage .bpCards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#brandPage .bpCards__unit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 32px;
}
#brandPage .bpCards__unit:nth-child(1) .bpCards__caption {
  background-color: #008522;
}
#brandPage .bpCards__unit:nth-child(2) .bpCards__caption {
  background-color: #0B50A2;
}
#brandPage .bpCards__caption {
  color: #ffffff;
  width: calc((100% - 32px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 4px;
}
#brandPage .bpCards__caption p {
  padding: 0 72px;
  color: #ffffff;
}
#brandPage .bpCards__caption h3 {
  color: #ffffff;
}
#brandPage .bpCards__image {
  width: calc((100% - 32px) / 2);
  border-radius: 4px;
}
#brandPage .bpIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
#brandPage .bpIcons__icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
#brandPage .bpIcons__icons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#brandPage .bpIcons__unit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 48px;
}
#brandPage .bpIcons__unit__caption {
  text-align: left;
}
#brandPage .bpIcons__unit__caption h4 {
  color: #008522;
}
#brandPage .bpIcons__image {
  margin: 16px;
}
#brandPage .bpVideo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#brandPage .bpVideo__unit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 32px;
}
#brandPage .bpVideo__unit:nth-child(1) .bpVideo__caption {
  background-color: #008522;
}
#brandPage .bpVideo__unit:nth-child(2) .bpVideo__caption {
  background-color: #0B50A2;
}
#brandPage .bpVideo__caption {
  color: #ffffff;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 48px;
}
#brandPage .bpVideo__caption h3.bpVideo__title {
  color: #ffffff;
}
#brandPage .bpVideo__caption span {
  display: block;
}
#brandPage .bpVideo__container {
  flex-basis: 65%;
}
#brandPage .bpVideo__container div {
  position: relative;
  padding-bottom: 56.25%;
}
#brandPage .bpVideo__container div iframe {
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: blckock;
  width: 100%;
  height: 100%;
}
#brandPage .bpFaq h3 {
  color: #008522;
}
#brandPage .bpFaq__units {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#brandPage .bpFaq__box {
  background-color: #008522;
  border-radius: 4px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 500ms;
}
#brandPage .bpFaq__box:hover {
  background-color: #00661a;
}
#brandPage .bpFaq__box__handle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 16px;
}
#brandPage .bpFaq__box__handle h4 {
  text-align: left;
  color: #ffffff;
  font-weight: 400;
}
#brandPage .bpFaq__box__content {
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: opacity 500ms, max-height 500ms, padding 500ms;
  opacity: 0;
}
#brandPage .bpFaq__box__content p {
  margin-top: 0;
  text-align: left;
  color: #ffffff;
}
#brandPage .bpFaq__box--active .bpFaq__box__content {
  padding: 16px 0 24px 0;
  opacity: 1;
}
#brandPage .bpFaq__box--active .bpFaq__box__icon {
  transform: rotate(45deg);
}
#brandPage .bpFaq__box__icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: transform 500ms;
}
#brandPage .bpFooter {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
#brandPage .bpFooter__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 48px;
}
#brandPage .bpFooter__unit {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
#brandPage .bpFooter h3, #brandPage .bpFooter h4 {
  color: #008522;
}
#brandPage .bpButton {
  background-color: #ffffff;
  color: #212121;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  width: 160px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: block;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  #brandPage .bpButton {
    font-size: 12px;
  }
}
#brandPage .bpButton:hover {
  background-color: #f7f7f7;
}
#brandPage .bpButton:active {
  background-color: #e0e0e0;
  box-shadow: none;
}

.layout-0 #brandPage .bp-container {
  gap: 48px;
}
.layout-0 #brandPage .bpBanner img {
  max-width: 50%;
}
.layout-0 #brandPage .bpPerex p {
  margin-top: 24px;
}
.layout-0 #brandPage .bpPerex p span {
  display: block;
}
.layout-0 #brandPage .bpCards__caption {
  gap: 24px;
}
.layout-0 #brandPage .bpCards p {
  padding: 0 32px;
}
.layout-0 #brandPage .bpIcons {
  padding-left: 0;
}
.layout-0 #brandPage .bpIcons img {
  margin: 0;
  max-width: 39.25%;
}
.layout-0 #brandPage .bpVideo iframe {
  height: 256px;
}

@media only screen and (max-width: 809px) {
  .mobile #brandPage .bp-container,
  .mobileapp #brandPage .bp-container {
    gap: 48px;
  }
  .mobile #brandPage .bpBanner img,
  .mobileapp #brandPage .bpBanner img {
    max-width: 50%;
  }
  .mobile #brandPage .bpPerex p,
  .mobileapp #brandPage .bpPerex p {
    margin-top: 24px;
  }
  .mobile #brandPage .bpCards__caption,
  .mobileapp #brandPage .bpCards__caption {
    gap: 24px;
  }
  .mobile #brandPage .bpCards p,
  .mobileapp #brandPage .bpCards p {
    padding: 0 32px;
  }
  .mobile #brandPage .bpIcons,
  .mobileapp #brandPage .bpIcons {
    padding-left: 0;
  }
  .mobile #brandPage .bpIcons img,
  .mobileapp #brandPage .bpIcons img {
    margin: 0;
    max-width: 39.25%;
  }
  .mobile #brandPage .bpVideo__caption,
  .mobileapp #brandPage .bpVideo__caption {
    padding: 16px;
  }
  .mobile #brandPage .bpVideo h3,
  .mobileapp #brandPage .bpVideo h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 630px) {
  .mobile #brandPage .bpCards__unit,
  .mobileapp #brandPage .bpCards__unit {
    flex-direction: column;
  }
  .mobile #brandPage .bpCards__unit:nth-of-type(2) img,
  .mobileapp #brandPage .bpCards__unit:nth-of-type(2) img {
    order: 1;
  }
  .mobile #brandPage .bpCards__caption,
  .mobileapp #brandPage .bpCards__caption {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  .mobile #brandPage .bpCards__caption h3,
  .mobileapp #brandPage .bpCards__caption h3 {
    margin-top: 100%;
  }
  .mobile #brandPage .bpCards__image,
  .mobileapp #brandPage .bpCards__image {
    width: 100%;
  }
  .mobile #brandPage .bpIcons,
  .mobileapp #brandPage .bpIcons {
    flex-direction: column;
  }
  .mobile #brandPage .bpIcons img,
  .mobileapp #brandPage .bpIcons img {
    max-width: 100%;
  }
  .mobile #brandPage .bpVideo,
  .mobileapp #brandPage .bpVideo {
    gap: 16px;
  }
  .mobile #brandPage .bpVideo__unit,
  .mobileapp #brandPage .bpVideo__unit {
    gap: 16px;
    flex-direction: column;
  }
  .mobile #brandPage .bpVideo__unit:nth-child(2) .bpVideo__caption,
  .mobileapp #brandPage .bpVideo__unit:nth-child(2) .bpVideo__caption {
    order: -1;
  }
  .mobile #brandPage .bpFooter,
  .mobileapp #brandPage .bpFooter {
    gap: 32px;
  }
  .mobile #brandPage .bpFooter__icons,
  .mobileapp #brandPage .bpFooter__icons {
    flex-direction: column;
    gap: 32px;
  }
  .mobile #brandPage .bpFooter__unit,
  .mobileapp #brandPage .bpFooter__unit {
    gap: 16px;
  }
}
@media only screen and (max-width: 550px) {
  .mobile #brandPage .bpBanner,
  .mobileapp #brandPage .bpBanner {
    padding-top: unset;
  }
  .mobile #brandPage .bpBanner__container,
  .mobileapp #brandPage .bpBanner__container {
    flex-direction: column;
  }
  .mobile #brandPage .bpBanner img,
  .mobileapp #brandPage .bpBanner img {
    max-width: 100%;
  }
  .mobile #brandPage .bpBanner img:first-of-type,
  .mobileapp #brandPage .bpBanner img:first-of-type {
    order: 1;
  }
  .mobile #brandPage .bpBanner__logo,
  .mobileapp #brandPage .bpBanner__logo {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    min-width: 92px;
  }
}
@media only screen and (max-width: 400px) {
  .mobile #brandPage .bpIcons__icons,
  .mobileapp #brandPage .bpIcons__icons {
    margin-left: 0;
    margin-top: 32px;
  }
  .mobile #brandPage .bpIcons__unit,
  .mobileapp #brandPage .bpIcons__unit {
    flex-direction: column;
    gap: 16px;
  }
  .mobile #brandPage .bpIcons__unit__caption,
  .mobileapp #brandPage .bpIcons__unit__caption {
    text-align: center;
  }
  .mobile #brandPage .bpIcons__unit__caption p, .mobile #brandPage .bpIcons__unit__caption h4,
  .mobileapp #brandPage .bpIcons__unit__caption p,
  .mobileapp #brandPage .bpIcons__unit__caption h4 {
    text-align: center;
  }
}