#brandPage
    .bpToggle
        background-color: $grey1
        color: $grey6
        @include btnAppearance
        @include btnStates($grey1)

        &__container
            padding-bottom: 48px
            margin: auto

    .bpToggle__content
        display: none

    .bpToggle__content.is-visible 
        display: block